In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/list/ls051601789/"
page = requests.get(url)

soup = BeautifulSoup(page.content)

In [2]:
import pandas as pd

name = soup.find_all("h3", class_="lister-item-header")
movies_name = []
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)

type_list = soup.find_all("span", class_="certificate")
types = []
for k in type_list:
    if k.text:
        types.append(k.text)
    else:
        types.append("Not Rated")

min_length = min(len(movies_name), len(types))
movies_name = movies_name[:min_length]
types = types[:min_length]

netflix_top_100 = pd.DataFrame({})
netflix_top_100['Movies_name'] = movies_name
netflix_top_100['Type'] = types
netflix_top_100

       Movies_name Type
0     Pulp Fiction  16+
1          Memento  14A
2         Big Fish   PG
3      The Pianist   AA
4   Reservoir Dogs  18+
..             ...  ...
91    Killer Elite  14A
92           Blitz   PG
93        Identity   PG
94     Vanilla Sky  18A
95         Traffic  18A

[96 rows x 2 columns]

In [3]:
grouped_by_type = netflix_top_100.groupby('Type').size().reset_index(name='Count')
grouped_by_type = grouped_by_type.sort_values(by='Count', ascending=False)
print(grouped_by_type)

     Type  Count
2     14A     37
9      PG     17
5     18A     16
11      R     13
0     13+      3
3     16+      3
10  PG-13      2
1      14      1
4     18+      1
6      AA      1
7       G      1
8      PA      1